/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/node_modules
/public/hot
/public/storage
/public/js/*
/public/js
public/js
public/js/
/public/css/*
/public/css
/public/category-thumbnails/*
/public/category-thumbnails
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer\.lock
\.DS_Store
public/mix-manifest.json
/public/mix-manifest.json
package.json
package-lock.json